.card-list {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-content: end;
  gap: 2rem;
}
@media (min-width: 510px) {
  .card-list {
    width: 100%;
  }
}