
.nav{
    min-width:15rem;

        .nav__title{

            background-color:#ff96b4;
    
        }

         .nav__filters{

            display:flex;
            flex-direction: column;

         }
}

